In [1]:
import pandas as pd

In [2]:
z = pd.read_csv('PandasBootcamp.csv')

Q1: What is the average of column num2?

In [3]:
z['num2'].mean(axis=0)

489.37149478000015

Q2: What is the maximum of column num?

In [4]:
z['num'].max()

983

Q3: Find the row with the smallest date. Subtract num - num2.

In [5]:
z.loc[z['date']==z['date'].min(),'num'][0]-z.loc[z['date']==z['date'].min(),'num2'][0]

-145.598433

Q4: Group by str and find the sum of column num where the index is boy

In [6]:
z.groupby('str').get_group('boy')['num'].sum()

15145

Q5: Create a new column called "diff". This column returns 1 if column num > column num2 and 0 if it does not. What is the sum of column diff?

1. rješenje bez kreiranja novog stupca

In [7]:
sum([1 if x>0 else 0 for x in z['num']-z['num2']])

26

2. rješenje s novim stupcem

In [8]:
z.insert(5,'diff',[1 if x>0 else 0 for x in z['num']-z['num2']])
z['diff'].sum()

26